* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(136.16deg, #eed6ff 12.91%, #8b87c2 87.68%);
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px 80px;
    align-items: center;
}

header img {
    cursor: pointer;
}

.link-header {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    margin-left: 54px;
    color: #303056;
    cursor: pointer;
    position: relative;
}

.link-header::after {
    content: '';
    background-color: #303056;
    position: absolute;
    height: 1px;
    left: 0;
    bottom: -1px;
    width: 0%;
    transition: 0.3s;
}

.link-header:hover::after {
    width: 100%;
}

.btn-header {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    margin-left: 54px;
    border: 1px solid #303056;
    color: #303056;
    padding: 10px 20px;
    border-radius: 41px;
    cursor: pointer;
    position: relative;
}

.btn-header:hover {
    color: #ffffff;
    border: 1px solid #fff;
}

.btn-header::after {
    content: '';
    background-color: #ffffff;
    position: absolute;
    height: 1px;
    left: 16px;
    bottom: 9px;
    width: 0%;
    transition: 0.3s;
}

.btn-header:hover::after {
    width: 60%;
}

main {
    display: flex;
    width: 95%;
    justify-content: space-around;
    padding-left: 165px;
    padding-top: 50px;
}

.container-left {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 150px;
}

.container-left h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #303056;
}

.container-left h1 {
    font-size: 68px;
    font-weight: 900;
    line-height: 74.12px;
    color: #303056;
    margin-bottom: 11px;
}

.container-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #303056;
    margin-bottom: 50px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-section {
    width: 161px;
    height: 81px;
    background-image: url(./assets/btn-bg.png);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: #ffffff;
}

.btn-section:hover {
    color: #303056;
}

.a-section {
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: #303056;
    cursor: pointer;
    position: relative;
}

.a-section img {
    margin-left: 15px;
}

.a-section::after {
    content: '';
    background-color: #303056;
    position: absolute;
    height: 1px;
    left: 0;
    bottom: -1px;
    width: 0%;
    transition: 0.3s;
}

.a-section:hover::after {
    width: 100%;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ghosts {
    height: 700px;
}

.info-ghosts {
    margin-top: -100px;
    margin-right: 200px;
    display: flex;
    gap: 21px;
    align-items: flex-end;
    color: #ffffff;
}

.info-ghosts h6 {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 10px;
}

.info-ghosts p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
}

.btn-footer {
    background-color: transparent;
    border: none;
    background-image: url(./assets/btn-no-bg.png);
    width: 180px;
    height: 89px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    color: #ffffff;
}

.btn-footer:hover {
    color: #303056;
}

@media screen and (max-width: 1030px) {
    header {
        display: none;
    }

    main {
        flex-direction: column;
        width: 95%;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-top: 0px;
        margin: 0 auto;
    }

    .ghosts {
        height: 550px;
        margin-left: 100px;
    }

    .info-ghosts {
        margin-top: -75px;
    }
}

@media screen and (max-width: 500px) {

    .container-left {
        text-align: center;
        width: 350px;
        margin-top: 50px;
    }

    .container-left h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container-left h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    .container-left p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28.8px;
        color: #303056;
        margin-bottom: 50px;
    }

    .ghosts {
        height: 350px;
        margin-left: 50px;
    }

    .info-ghosts {
        margin-top: -40px;
        margin-right: 50px;
        gap: 15px;
    }

    .info-ghosts h6 {
        font-size: 16px;
    }

    .info-ghosts p {
        font-size: 14px;
    }
}